@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', serif;
}

.first-section {
    background-color: #1F2937
}


#header-logo {
    font-size: 24px;
    color: #F9FAF8
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 8px 15px;
}

.nav-left,
.nav-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 175px;
}

.content-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    margin-bottom: 50px;
}

.p-first {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-one {
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 7px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.row-of-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
}

.blue-box {
    border: 4px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-second {
    text-align: center;
    font-size: 18px;
}

.third-section {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
}

.p-third {
    font-size: 18px;
    text-align: end;
    font-style: normal;
}

#p-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 350px;

}

.last-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    background-color: #3882F6;
    width: 70%;
    height: 45%;
    display: flex;
    flex-direction: row;
    
}

.left {
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4 {
    font-size: 24px;
    color: white;
}

.p-last {
    color: white;
    font-size: 18px;
}

.right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 125px;
}

.sign-up-two {
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 30px;
    border: 2px solid white;
    border-radius: 7px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 80px;
}